# generic
*.a
*.d
*.o
*.exe

# visual studio
.vs

# build output
build/
keymap.cpp
skins.cpp
VERSION.h

# intel lib
IntelRDFPMathLib20U1/
cl111libbid.lib
readtest.c
readtest_lines.cpp

# linked files
bid_conf.h
bid_functions.h
core_commands1.cpp
core_commands1.h
core_commands2.cpp
core_commands2.h
core_commands3.cpp
core_commands3.h
core_commands4.cpp
core_commands4.h
core_commands5.cpp
core_commands5.h
core_commands6.cpp
core_commands6.h
core_commands7.cpp
core_commands7.h
core_display.cpp
core_display.h
core_globals.cpp
core_globals.h
core_helpers.cpp
core_helpers.h
core_keydown.cpp
core_keydown.h
core_linalg1.cpp
core_linalg1.h
core_linalg2.cpp
core_linalg2.h
core_main.cpp
core_main.h
core_math1.cpp
core_math1.h
core_math2.cpp
core_math2.h
core_phloat.cpp
core_phloat.h
core_sto_rcl.cpp
core_sto_rcl.h
core_tables.cpp
core_tables.h
core_variables.cpp
core_variables.h
free42.h
keymap2cpp.cpp
shell.h
shell_loadimage.cpp
shell_loadimage.h
shell_spool.cpp
shell_spool.h
skin2cpp.cpp
skin2cpp.conf
